@import "variables.scss";

.header {
  background-color: $color-green;
}

.menu {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  align-items: center;
  height: $unit * 7;
  color: $text-color-secondary;
  font-weight: 700;

  &__item {
    padding: $unit;
    margin-left: $unit * 2;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      opacity: 0.7;
      background-color: #9acd32;
    }
    &_active {
      position: relative;
      &:hover {
        .submenu {
          display: block;
          position: absolute;
          top: 55px;
          background-color: #ff7f50;
        }
      }
    }

    .submenu {
      display: none;
    }
  }
}
.submenu__item {
  list-style-type: none;
  color: white;
  width: 120px;
  margin: 8px;
  &:hover {
    color: black;
  }
}
